.theme-ny .el-submenu__title, .theme-ny .el-menu-item, .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav .el-tabs__item {
  user-select: none;
  cursor: pointer; }

.theme-ny .el-card.d2-card {
  border: 1px solid #8C40E2; }
  .theme-ny .el-card.d2-card .el-card__header {
    border-bottom: 1px solid #8C40E2; }
.theme-ny .d2-layout-header-aside-group {
  background-color: #000; }
  .theme-ny .d2-layout-header-aside-group .d2-layout-header-aside-mask {
    background: rgba(0, 0, 0, 0); }
.theme-ny .el-submenu__title i, .theme-ny .el-menu-item i {
  display: inline-block;
  width: 14px;
  text-align: center;
  margin-right: 5px; }
.theme-ny .el-submenu__title i.icon, .theme-ny .el-menu-item i.icon {
  font-size: 16px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 7px;
  color: #fff; }
.theme-ny .el-submenu__title svg, .theme-ny .el-menu-item svg {
  margin: 0px;
  height: 14px;
  width: 14px;
  margin-right: 5px; }
.theme-ny .el-submenu__title:hover {
  color: #293849;
  background: #ecf5ff; }
  .theme-ny .el-submenu__title:hover i.fa {
    color: #293849; }
.theme-ny .el-menu-item:hover {
  color: #293849;
  background: #ecf5ff; }
  .theme-ny .el-menu-item:hover i.fa {
    color: #293849; }
.theme-ny .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  color: #293849;
  background: #ecf5ff; }
  .theme-ny .el-menu--horizontal .el-menu-item:not(.is-disabled):hover i.fa {
    color: #293849; }
.theme-ny .el-menu--horizontal .el-menu .el-submenu__title:hover {
  color: #293849;
  background: #ecf5ff; }
  .theme-ny .el-menu--horizontal .el-menu .el-submenu__title:hover i.fa {
    color: #293849; }
.theme-ny .d2-theme-header {
  background-color: #0c4cb4; }
  .theme-ny .d2-theme-header .d2-theme-header-menu .d2-theme-header-menu__prev, .theme-ny .d2-theme-header .d2-theme-header-menu .d2-theme-header-menu__next {
    color: #FFF;
    background: transparent; }
    .theme-ny .d2-theme-header .d2-theme-header-menu .d2-theme-header-menu__prev:hover, .theme-ny .d2-theme-header .d2-theme-header-menu .d2-theme-header-menu__next:hover {
      color: #FFF;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.12) 100%); }
  .theme-ny .d2-theme-header .toggle-aside-btn i {
    color: #FFF;
    background: transparent; }
    .theme-ny .d2-theme-header .toggle-aside-btn i:hover {
      color: #FFF; }
  .theme-ny .d2-theme-header .el-menu .el-menu-item {
    transition: border-top-color 0s;
    color: #FFF;
    background: transparent; }
    .theme-ny .d2-theme-header .el-menu .el-menu-item i.fa {
      color: inherit; }
    .theme-ny .d2-theme-header .el-menu .el-menu-item:hover {
      color: #FFF;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.12) 100%); }
      .theme-ny .d2-theme-header .el-menu .el-menu-item:hover i.fa {
        color: inherit; }
    .theme-ny .d2-theme-header .el-menu .el-menu-item:focus {
      color: #FFF;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.12) 100%); }
      .theme-ny .d2-theme-header .el-menu .el-menu-item:focus i.fa {
        color: inherit; }
    .theme-ny .d2-theme-header .el-menu .el-menu-item.is-active {
      color: #FFF;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.12) 100%); }
      .theme-ny .d2-theme-header .el-menu .el-menu-item.is-active i.fa {
        color: inherit; }
  .theme-ny .d2-theme-header .el-menu .el-submenu.is-active .el-submenu__title {
    color: #FFF;
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.12) 100%); }
    .theme-ny .d2-theme-header .el-menu .el-submenu.is-active .el-submenu__title i.fa {
      color: inherit; }
  .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title {
    transition: border-top-color 0s;
    color: #FFF;
    background: transparent; }
    .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title i.fa {
      color: inherit; }
    .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title .el-submenu__icon-arrow {
      color: #FFF; }
    .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title:hover {
      color: #FFF;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.12) 100%); }
      .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title:hover i.fa {
        color: inherit; }
      .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title:hover .el-submenu__icon-arrow {
        color: #FFF; }
    .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title:focus {
      color: #FFF;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.12) 100%); }
      .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title:focus i.fa {
        color: inherit; }
      .theme-ny .d2-theme-header .el-menu .el-submenu .el-submenu__title:focus .el-submenu__icon-arrow {
        color: #FFF; }
  .theme-ny .d2-theme-header .d2-header-right .btn-text {
    color: #FFF; }
    .theme-ny .d2-theme-header .d2-header-right .btn-text.can-hover:hover {
      color: #FFF;
      background: linear-gradient(-180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.12) 100%); }
  .theme-ny .d2-theme-header .d2-header-right .ivu-menu .ivu-menu-item {
    color: #FFF; }
    .theme-ny .d2-theme-header .d2-header-right .ivu-menu .ivu-menu-item a {
      color: #FFF; }
    .theme-ny .d2-theme-header .d2-header-right .ivu-menu .ivu-menu-item.ivu-menu-item-active, .theme-ny .d2-theme-header .d2-header-right .ivu-menu .ivu-menu-item:hover {
      border-bottom: 2px solid #FFF; }
  .theme-ny .d2-theme-header .logo-group {
    color: #FFF; }
.theme-ny .d2-theme-container {
  background-color: #fff; }
  .theme-ny .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-empty {
    background: rgba(0, 0, 0, 0.1); }
    .theme-ny .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-empty i {
      color: #FFF; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-empty span {
      color: #FFF; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-empty:hover {
      background: rgba(0, 0, 0, 0.15); }
      .theme-ny .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-empty:hover i {
        color: #FFF; }
      .theme-ny .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-empty:hover span {
        color: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item {
    color: #606266;
    background: transparent; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item i {
      color: #606266; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item:hover {
      color: #2f74ff;
      fill: #2f74ff;
      background: rgba(255, 255, 255, 0.5); }
      .theme-ny .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item:hover i {
        color: #2f74ff; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item:focus {
      color: #2f74ff;
      fill: #2f74ff;
      background: rgba(255, 255, 255, 0.5); }
      .theme-ny .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item:focus i {
        color: #2f74ff; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item.is-active {
      color: #2f74ff;
      fill: #2f74ff;
      background: rgba(255, 255, 255, 0.5); }
      .theme-ny .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item.is-active i {
        color: #2f74ff; }
  .theme-ny .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title {
    color: #606266;
    background: transparent; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title i {
      color: #606266; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title .el-submenu__icon-arrow {
      color: #606266; }
    .theme-ny .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title:hover {
      color: #2f74ff;
      background: rgba(255, 255, 255, 0.5); }
      .theme-ny .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title:hover i {
        color: #2f74ff; }
      .theme-ny .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title:hover .el-submenu__icon-arrow {
        color: #2f74ff; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__header.is-top {
    border-bottom-color: #8C40E2; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav {
    border-color: #8C40E2; }
    .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav .el-tabs__item {
      color: #FFF;
      background-color: rgba(255, 255, 255, 0.3);
      border-left-color: #8C40E2; }
      .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav .el-tabs__item:first-child {
        border-left: none; }
        .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav .el-tabs__item:first-child:hover {
          padding: 0px 20px; }
        .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav .el-tabs__item:first-child .el-icon-close {
          display: none; }
    .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav .el-tabs__item.is-active {
      color: #606266;
      background-color: #FFF;
      border-bottom-color: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav-prev, .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav-next {
    font-size: 20px; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav-prev {
    color: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav-next {
    color: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control-btn .el-dropdown .el-button-group .el-button {
    border-color: #8C40E2; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full {
    border: 1px solid #8C40E2;
    border-top: none;
    border-bottom: none; }
    .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full .d2-container-full__header {
      border-bottom: 1px solid #E4E7ED;
      background: #FFF; }
    .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full .d2-container-full__body {
      background: #FFF; }
    .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full .d2-container-full__footer {
      border-top: 1px solid #E4E7ED;
      background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full-bs {
    border: 1px solid #8C40E2;
    border-top: none;
    border-bottom: none; }
    .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full-bs .d2-container-full-bs__header {
      border-bottom: 1px solid #E4E7ED;
      background: #FFF; }
    .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full-bs .d2-container-full-bs__body {
      background: #FFF; }
    .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full-bs .d2-container-full-bs__footer {
      border-top: 1px solid #E4E7ED;
      background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-ghost .d2-container-ghost__header {
    border-bottom: 1px solid #8C40E2;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-ghost .d2-container-ghost__footer {
    border-top: 1px solid #8C40E2;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-ghost-bs .d2-container-ghost-bs__header {
    border-bottom: 1px solid #8C40E2;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-ghost-bs .d2-container-ghost-bs__footer {
    border-top: 1px solid #8C40E2;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-card .d2-container-card__header {
    border-bottom: 1px solid #E4E7ED;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-card .d2-container-card__body .d2-container-card__body-card {
    background: #FFF;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    border-bottom: 1px solid #8C40E2; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-card .d2-container-card__footer {
    border-top: 1px solid #8C40E2;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-card-bs .d2-container-card-bs__header {
    border-bottom: 1px solid #E4E7ED;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    background: #FFF; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-card-bs .d2-container-card-bs__body .d2-container-card-bs__body-card {
    background: #FFF;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    border-bottom: 1px solid #8C40E2; }
  .theme-ny .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-card-bs .d2-container-card-bs__footer {
    border-top: 1px solid #8C40E2;
    border-left: 1px solid #8C40E2;
    border-right: 1px solid #8C40E2;
    background: #FFF; }

/*# sourceMappingURL=index.css.map */
